
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'); /* cdn for icons */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"');

:root {
  --col-1: calc((100% / 12) * 1);
  --col-2: calc((100% / 12) * 2);
  --col-3: calc((100% / 12) * 3);
  --col-4: calc((100% / 12) * 4);
  --col-5: calc((100% / 12) * 5);
  --col-6: calc((100% / 12) * 6);
  --col-7: calc((100% / 12) * 7);
  --col-8: calc((100% / 12) * 8);
  --col-9: calc((100% / 12) * 9);
  --col-10: calc((100% / 12) * 10);
  --col-11: calc((100% / 12) * 11);
  --col-12: calc((100% / 12) * 12);

  /* Color Scheme */
  --primary-blue: #0055FA;
  --light-blue: #95b9ff;
  --dark-blue: #013c6d;
  --primary-red: #e00053;
  --secondary-red: #970f36;
  --sec-red-hover: #57091F;
  --gold: #f4d35e;
  --light-gray: #dedddd;
  --lightest-gray: #f1f1f1;
  --dark-gray: #888b8d;
  --darkest-gray: #434546;
  --neutral-white: #f2f5f9;
  --off-black: #212529;
  --text-primary: var(--light);
  --light-text: var(--neutral-white);
  --navbutton-hover: var(rgba(235,235,235,92));
  --primary-btn: var(--dark-gray);
}

img {
  width: 100%;
  max-width: 100%;
}

*, :before, :after {
  box-sizing: border-box;
  position: relative;
} 

html {
scroll-behavior: smooth;
}

body {
  font-family: 'Libre Franklin', 'sans-serif';
  margin: 0;
  background-color: var(--primary);
  color: var(--dark)
}

body p {
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5,.h6 {
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
  line-height: 4rem;
  color: var();
}

h1, .h1 {
  font-size: 3.052rem;
  color: var(--secondary-red);
}

h2, .h2 {
  font-size: 2.441rem;
  color: var(--secondary-red);
}

h3, .h3 {
  font-size: 1.953rem;
  line-height: 3rem;
}

h4, .h4 {
  font-size: 1.563rem;
}

/* Grid System */
.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container {
  width: 100%;
  padding-right: 0 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}
  
  @media screen and (min-width: 576px){
    .container { max-width: 576px; }
  }
  
  @media screen and (min-width: 768px){
    .container { max-width: 768px; }
  }
  
  @media screen and (min-width: 992px){
    .container { max-width: 992px; }
  }
  
  @media screen and (min-width: 1200px){
    .container { max-width: 1200px; }
  }
  
  @media screen and (min-width: 1400px){
    .container { max-width: 1400px; }
  }
  
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .row.row_center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  [class^='col-'] {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 0 0 100%;
    width: 100%;
  }
  
  .col-1 {
    flex: 0 0 var(--col-1);
    max-width: var(--col-1);
  }
  
  .col-2 {
    flex: 0 0 var(--col-2);
    max-width: var(--col-2);
  }
  
  .col-3 {
    flex: 0 0 var(--col-3);
    max-width: var(--col-3);
  }
  
  .col-4 {
    flex: 0 0 var(--col-4);
    max-width: var(--col-4);
  }
  
  .col-5 {
    flex: 0 0 var(--col-5);
    max-width: var(--col-5);
  }
  
  .col-6 {
    flex: 0 0 var(--col-6);
    max-width: var(--col-6);
  }
  
  .col-7 {
    flex: 0 0 var(--col-7);
    max-width: var(--col-7);
  }
  
  .col-8 {
    flex: 0 0 var(--col-8);
    max-width: var(--col-8);
  }
  
  .col-9 {
    flex: 0 0 var(--col-9);
    max-width: var(--col-9);
  }
  
  .col-10 {
    flex: 0 0 var(--col-10);
    max-width: var(--col-10);
  }
  
  .col-11 {
    flex: 0 0 var(--col-11);
    max-width: var(--col-11);
  }
  
  .col-12 {
    flex: 0 0 var(--col-12);
    max-width: var(--col-12);
  }
  
  /* Small Screens = sm */
  @media screen and (min-width: 576px){

    .col-sm-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
    }
  
    .col-sm-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
    }
  
    .col-sm-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
    }
  
    .col-sm-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
    }
  
    .col-sm-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
    }
  
    .col-sm-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
    }
  
    .col-sm-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
    }
  
    .col-sm-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
    }
  
    .col-sm-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
    }
  
    .col-sm-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
    }
  
    .col-sm-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
    }
  
    .col-sm-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
    }
  }
  
  /* Medium Screens = md */
  @media screen and (min-width: 768px){
  
    .col-md-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
    }
  
    .col-md-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
    }
  
    .col-md-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
    }
  
    .col-md-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
    }
  
    .col-md-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
    }
  
    .col-md-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
    }
  
    .col-md-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
    }
  
    .col-md-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
    }
  
    .col-md-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
    }
  
    .col-md-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
    }
  
    .col-md-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
    }
  
    .col-md-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
    }
  }
  
  /* Large Screens = lg */
  @media screen and (min-width: 992px){
  
    .col-lg-1 {
      flex: 0 0 var(--col-1);
      max-width: var(--col-1);
    }
  
    .col-lg-2 {
      flex: 0 0 var(--col-2);
      max-width: var(--col-2);
    }
  
    .col-lg-3 {
      flex: 0 0 var(--col-3);
      max-width: var(--col-3);
    }
  
    .col-lg-4 {
      flex: 0 0 var(--col-4);
      max-width: var(--col-4);
    }
  
    .col-lg-5 {
      flex: 0 0 var(--col-5);
      max-width: var(--col-5);
    }
  
    .col-lg-6 {
      flex: 0 0 var(--col-6);
      max-width: var(--col-6);
    }
  
    .col-lg-7 {
      flex: 0 0 var(--col-7);
      max-width: var(--col-7);
    }
  
    .col-lg-8 {
      flex: 0 0 var(--col-8);
      max-width: var(--col-8);
    }
  
    .col-lg-9 {
      flex: 0 0 var(--col-9);
      max-width: var(--col-9);
    }
  
    .col-lg-10 {
      flex: 0 0 var(--col-10);
      max-width: var(--col-10);
    }
  
    .col-lg-11 {
      flex: 0 0 var(--col-11);
      max-width: var(--col-11);
    }
  
    .col-lg-12 {
      flex: 0 0 var(--col-12);
      max-width: var(--col-12);
    }
  }
  /* End of Grid System */


/* Header Styles */
nav { 
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  background-color: var(--lightest-gray);
  font-size: 1rem;
}

.navbar-brand {
  display: block; 
  overflow: hidden;
  background: url("full_logo.png") no-repeat 0 0/contain transparent; /* Goodtimes Logo in the nav */
  width: 100%;
  height: 63px; /* need to change */
  text-indent: -9999999px; 
  flex: 0 0 calc(100% - 3rem); 
  max-width: calc(100% - 3rem);
  margin-left: 1rem;
  margin-top: 5px;
}

nav ul
a:link, 
a:active,
a:visited {
  color: var(--primary-blue);
}

nav ul a:hover { /* hovering over li */

}

.navbar-toggler { 
  border: 0 none; 
  background-color: var(--secondary);
  color: var(--dark);
  width: 2rem;
  height: 76px;
  flex: 0 0 2rem;
  max-width: 2rem;
  font-size: 1rem;
  line-height: 1em;
  cursor: pointer; 
}

.navbar { 
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

/* when a dropdown option is clicked = open */
.navbar.open {
  display: block;
}

.navbar, 
.navbar ul,
.navbar li {
  list-style-type: none; /* remove bullet points */
  padding: 0; /* Remove padding from ul */
  margin: 0; /* Remove margin from ul */
}

#main-navigation li {
  padding: 0.2rem 0rem;
}

/* nav links */
#main-navigation li a {
  padding: 25px 25px;
  color: black;

}

#main-navigation .dropdown-content li { /* No padding for the nav dropdown options */
  padding: 0;
}

/* hovering over the navigation bar tabs */
#main-navigation li a:hover {
    box-shadow: 0 -5px 0px var(--lightest-gray) inset,
    100vw 0 0 rgba(235,235,235,92)inset;
}

button.navbar-toggler:hover {
  background-color: rgba(235,235,235,92);
  transition-duration: 0.4s;
}

.navbar a:link,
.navbar a:active,
.navbar a:hover,
.navbar a:visited {
  display: block; 
  overflow: hidden;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition-duration: 0.4s; 
}

i.fa-solid.fa-bars { /* hamburger color */
  color: var();
}

/* down arrow is displayed next to dropdown options when it's not clicked */
.navbar .dropdown > a:after {
  content: '\f0d7';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-left: 0.618rem;
  right: 0;
}

/* up arrow is displayed next to dropdown options when it's been clicked */
.navbar .dropdown.open > a:after {
  content: '\f0d8';
}

/*DROPDOWN CONTENT*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content li a {
    text-align: center;
}

@media screen and (min-width: 992px) {

  .navbar-brand {
    flex: 0 0 194px;
    max-width: 194px;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar {
    display: block;
    flex: 0 1 calc(100% - 220px);
    max-width: calc(100% - 220px);
    text-align: right;
  }

  .navbar > li {
    display: inline-block; 

  }

  .navbar .dropdown-content ul {
    position: absolute;
    z-index: 1;
    width: 200px;
    text-align: left;
  }

  /*hover over calendar tab*/
  .calendar-tab:hover .calendar.dropdown-content {display: block;}

  /*hover over about tab*/
  .about-tab:hover .about.dropdown-content {display: block;}

  /*hover over connect tab*/
  .connect-tab:hover .connect.dropdown-content {display: block;}

  /*hover over community tab*/
  .community-tab:hover .community.dropdown-content {display: block;}

  /*hover over support tab*/
  .support-tab:hover .support.dropdown-content {display: block;}

}/* End of Header Styles */


/* Body Styles */

main p {
  text-align: left;
}

.center_text {
  text-align: center;
}
 
.home_pg_text {
  margin-top: 0;
}

/* list of donation amounts on the Donate page */
.donationP {
  color: var(--neutral-white);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

/* hr line on the Support Us page */
.container.support hr {
  margin: 2rem 0rem;
}

@media screen and (min-width: 320px) and (max-width:992px){

  .dropdown-content {/* Length of secondary dropdown options */
    width: 100%;
  }

  .navbar .dropdown ul {
    display: none;
  }
  
  .navbar .dropdown.open ul {
    display: block;
  }

  .home_pg_text {
    margin-top: 1rem;
  }

  #google-map {
    width: 450px;
  }


}

.btn.btn-primary {
  background-color: #8B0034;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 35px;
  display: block;
  width: 250px;
}

@media screen and (min-width: 320px) and (max-width:992px){
  
  /* button length spans across the screen for mobile and tablet sizes*/
  .btn.btn-primary {
    width: 100%;
  }

}

.btn.btn-primary:hover {
  background-color: var(--sec-red-hover);
}

.button {
  background-color: var(--primary-btn);
  border: none;
  color:var(--neutral-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

.button_div {
  display: flex;
  justify-content: center;
}

.button_div button:hover {
  background-color: var(--light-gray);
}

.flex-buttons #btn-1 {
    margin-bottom: 1rem;
}


@media screen and (min-width: 992px){

/* buttons on home page are side-by-side for tablet+ */
  .flex-buttons {
    display: flex;
  }

  /* add a margin between left/right of home buttons */
  .flex-buttons #btn-1 {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  #google-map {
    width: 500px;
  }

}

/* enable buttons to be responsive to device size */
.hero-text {
  margin: 0 9vw 1rem 9vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.hero-text h1 {
  color: var(--neutral-white);
  text-align: center;
  margin-bottom: 0;
}

.hero-text p {
  color: var(--neutral-white)
}

/* Page titles */
.page-title {
  text-align: center;
  background-color: var(--dark-blue);
}

.page-title h1, .page-title h2 {
  padding: 40px 0px;
  margin: 0 0 2rem 0; /*bottom margin only*/
  color: var(--neutral-white);
}

/*list of sponsors on Our Supporters page*/
.sponsors {
  font-weight: bold;
  color: var(--secondary-red)
}

.contact-phone a {
  text-decoration: none;
  color: var(--off-black);
}

.mission-page h2 {
  margin-bottom: 0;
}

.mission-page p {
  margin-top: 0;
}


/* list items on the Repertoire page */
.songs li {
  font-size: 24px;
  line-height: 2.5rem;
}

/* h3 heading on the Repertoire page */
.container.repertoire h3 {
  color: var(--secondary-red);
  background-color: var(--light-gray);
  text-align: center;
  padding: 1rem;
}

.supportImages {
  height: 350px;
  margin: 1rem 0;
}

.supportImages.img1 {
  background-image: url("sheet-music.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.supportImages.img2 {
  background-image: url("tuxedo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.supportImages.img3 {
  background-image: url("back-rail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.supportImages.img4 {
  background-image: url("riser.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.supportImages.img5 {
  background-image: url("sound-system.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.supportImages.img6 {
  background-image: url("acoustic-shell.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.support-text li {
  color: var(--neutral-white);
  font-size: 24px;
}

.support-text ul {
  list-style-type: none;
}

.flex-buttons.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width: 992px){
  .flex-buttons.about {
    display: flex;
    flex-flow: row ;
    align-items: center;
    align-content: center;
    justify-content: left;
  }
}

.info-box {
  padding: 1rem;
  background-color: var(--light-gray);
}

.info-box h2 {
  margin-bottom: 1rem;
}

.info-box p {
  margin-top: 0;
}

.info-box.button_div {
  margin-bottom: 1rem;
}


.center_text.addMargin {
  margin: 3rem 0;
}

.homepgBox {
  margin-bottom: 1rem;
}

.mission_div {
  background-color: var(--dark-blue);
  color: var(--neutral-white);
  padding: 4rem 1rem;
  margin-top: 1rem;
}

.mission_div h1 {
  color: var(--neutral-white);
}

.home-videos iframe {
  width: 300px;
}

.home-videos iframe {
  margin-bottom: 1rem;
}

@media screen and (min-width: 500px) and (max-width: 992px){
.home-videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.home-videos iframe {
  width: 519px;
}

}

@media screen and (min-width: 768px) and (max-width: 992px){
  .home-videos iframe {
    width: 752px;
  }

}

@media screen and (min-width: 1200px) {
  .home-videos iframe {
    width: 420px;
    height: 300px;
  }

}

.center_text.contact {
  margin-bottom: 2rem;
}

/* End of Body Styles */


/* Contact & Booking Form Styles */

.contact-form, .booking-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.booking-form {
  margin-top: 2rem;
}

.upload-form {
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 15px;
}

input:focus,
textarea:focus {
  border-color: #0077cc;
}

button[type="submit"] {
  background-color: var(--secondary-red);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--sec-red-hover);
}

input[type="submit"] {
  background-color: var(--secondary-red);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--sec-red-hover);
}

/* End of Form styles */



/* Image styles */
.hero-image {
  background-image: url("gtc1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}


/* End of Image styles */


/* Footer Styles */

@media screen and (min-width: 768px) {

footer .sitemap {
  margin-left: 3rem;
}

footer .main-footer {
  padding: 1rem 1rem 3rem 8rem;
  margin-bottom: 1rem;
}

.home_para {
  margin-bottom: 2rem;
}
}

.footer-subhead {
  font-weight: bold;
  margin-bottom: 0;
}

footer {
  margin-top: 5rem;
  background-color: var(--dark-blue);
  color: var(--light-text);
}

footer .container-fluid {
  margin-bottom: 0;
  padding: 0px 5rem;
}

footer .main-footer {
  margin-top: 2rem;
  padding: 1rem 0;
}

footer .main-footer a {
  color: var(--light);
}

footer .footer-text {
  text-align: left;
}

footer .main-footer h3 {
  font-family: 'Libre Baskerville', 'sans-serif';
  color: var(--light);
  font-weight: bolder;
  line-height: 1.25rem;
}

footer .main-footer a.links {
  display: inline-block;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  font-size: 24px;
}

footer .main-footer ul {
  margin: 0; 
}

footer .main-footer a:link,
footer .main-footer a:active,
footer .main-footer a:hover,
footer .main-footer a:visited {
   /* color: ---;*/
}

footer .main-footer address a {
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
}

footer .social-media li {
  display: inline;
}

footer .social-media i {
  margin-right: 1rem;
}

footer ul {
  padding: 0;
}

footer .legal {
background-color: var(--secondary);
text-align: center;
border-top: 2px solid var(--neutral-white);
font-size: 1rem;
}

footer .align_left {
  text-align: left;
}
/* End of Footer Styles */

/* Photo page styles */
.centerImage{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spreadIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.width100{
  width: 100%;
  height: 28vw;
  padding: 10px;
}

.width20{
  width: 20%;
}

.width10{
  width: 10%;
}

